@import './fonts';
@import './vars';
@import './mixins';
@import './settings';
@import './classes';

* {
    box-sizing: border-box;
    font-family: $main-font, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2em;
}

html,
body {
    width: 100%;
}

.wrapper-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: $black;
    background-color: $white;
}

@import './parts/pages';
@import './parts/layouts';
@import './parts/components';
@import './parts/sections';
@import './parts/ui';
@import './parts/modal-windows';

@import './libs';
@import './media';